*
!.gitignore
!*/
!*.cpp
!*.c
!*.h
!*.vcproj
!*.vcxproj
!*.sln
!*.aps
!*.filters
!*.users
!*.rc
!.**/*.cpp
!.**/*.c
!.**/*.hpp
!.**/*.h
!.**/*.vcproj
!.**/*.vcxproj
!.**/*.aps
!.**/*.filters
!.**/*.users
!.**/*.rc
