*
!.gitignore
!*/
!*.cpp
!*.c
!*.h
!*.vcproj
!*.vcxproj
!*.vcxproj.filters
!*.vcxproj.user
!*.sln
!*.aps
!*.filters
!*.users
!*.rc
!*.rc2
!*.ico
!*.props
!.**/*.cpp
!.**/*.c
!.**/*.hpp
!.**/*.h
!.**/*.vcproj
!.**/*.vcxproj
!.**/*.vcxproj.filters
!.**/*.vcxproj.user
!.**/*.aps
!.**/*.filters
!.**/*.users
!.**/*.rc
!.**/*.rc2
!.**/*.ico
!.**/*.props
